        body {
            font-family: 'Manrope'; 
        }
            /* Header */
        .search-modal .modal-content {
            max-width: 500px;
            margin: auto;
        }

        .navbar-nav .nav-link {
            font-size: 14px;
            color: black;
            font-weight: 600;
            transition: color 0.3s ease;
        }

        .navbar-nav .nav-link:hover {
            color: #1C4682;
        }

        .btn-unduh {
            background-color: #1C4682;
            color: white;
            transition: background-color 0.3s ease;
        }

        .btn-unduh:hover {
            background-color: #163d6a;
        }

        .btn-outline-secondary {
            border: none;
            transition: color 0.3s ease;
        }

        .btn-outline-secondary:hover i {
            color: #1C4682; 
        }

        .navbar {
            background-color: white;
            box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.3s ease;
        }

        .navbar:hover {
            box-shadow: 0 25px 100px rgba(0, 0, 0, 0.4); 
        }
        .nav-item .dropdown-menu {
            border: none;
            box-shadow: none;
        }
        


        
 /* Swiper 1 */
    .swiper {
        width: 90%;
        height: 90%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        background: #8f8e8e;
    }

    .swiper-pagination-bullet-active {
        background: #000000;
    }

    .btn-group .btn.active {
        background-color: #1C4682;
        color: white;
    }


    /* Swiper 2 */
    .full-bg {
        width: 100vw;
        margin-left: calc(50% - 50vw); 
        padding: 20px 0;
    }

    .newSwiper {
        width: 75%;
        height: 80%;
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .newSwiper .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .newSwiper .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; 
    }
        body {
        overflow-x: hidden;
    }

    /* Swiper 3 */
    .PartnerSwiper {
        width: 100%;
        height: 80%;
        margin-top: 5%
    }

    .PartnerSwiper .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PartnerSwiper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .finance-logo {
        border: 2px solid #000;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .swiper-pagination {
        bottom: 10px;
    }

    .swiper-pagination-bullet {
        background: #8f8e8e;
    }

    .swiper-pagination-bullet-active {
        background: #000000;
    }


    /* Contact CSS */
    .contact-bg {
        padding: 40px 0;
    }

    .contact-container {
        max-width: 1200px;
        display: flex;
        gap: 20px;
    }

    .contact-image {
        flex: 1;
        text-align: center; 
        margin: 3%;
        border: 3px #163b5a solid;
        border-radius: 2%;
    }

    .contact-text {
        flex: 1;
        text-align: center; 
        color: #333;
    }

    .contact-text h3 {
        font-size: 42px;
        font-weight: bolder;
        color: #163b5a;
        margin-bottom: 5%;
    }

    .contact-text p {
        font-size: 28px;
        font-weight: 700;
        color: #163b5a;
        margin-bottom: 10%;
    }

    .contact-details {
        list-style-type: disc; 
        padding-left: 20px;
        margin-bottom: 10%;
        font-weight: 700;
        text-align: left; 
    }

    .button-group {
        display: flex;
        gap: 10px; 
    }

    .wa-button, .contact-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .wa-button {
        background-color: #1C4682;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }

    .wa-button:hover {
        background-color: #163b5a;
    }

    .contact-button {
        background-color: #fff;
        color: #163b5a;
        border: 2px solid #163b5a;
        border-radius: 5px;
    }

    .contact-button:hover {
        background-color: #000;
        color: #fff;
    }

    @media (max-width: 768px) {
        .contact-container {
            flex-direction: column; 
            align-items: center; 
            text-align: center; 
        }

        .contact-image {
            margin: 0; 
            width: 90%; 
        }

        .contact-text {
            margin: 0; 
            width: 80%; 
        }

        .contact-text h3 {
            font-size: 32px; 
        }

        .contact-text p {
            font-size: 24px; 
        }

        .contact-details {
            padding-left: 20px; 
            margin: 10px 0;
            text-align: left; 
        }

        .button-group {
            flex-direction: column; 
            gap: 5px; 
            width: 100%;
            align-items: center;
        }

        .wa-button, .contact-button {
            width: 100%; 
            padding: 10px; 
        }
    }

    /* Card CSS */
    .heading-title {
        font-family: 'Manrope';
        font-size: 30px;
        font-weight: 600;
    }

    .heading-subtitle {
        font-family: 'Manrope';
        font-size: 15px;
    }

    .nav-tabs .nav-item .nav-link {
        background-color: #ffffff;
        border: 1px solid #ddd;
        color: #1C4682;
        padding: 10px 20px;
        margin: 0 5px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .nav-tabs .nav-item .nav-link.active {
        background-color: #1C4682;
        color: #ffffff;
        border-color: #1C4682;
    }

    .nav-tabs .nav-item .nav-link:hover {
        background-color: #0056b3;
        color: black;
    }

    .tab-content {
        margin-top: 20px;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        font-weight: 600;
    }

    .card-text {
        font-size: 18px;
        font-weight: bold;
    }

    .card .btn-full {
        width: 80%;
        background-color: #1C4682;
        border: none;
        border-top: 1px solid #eee;
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin: 0 auto 5%;
    }

    .car-image {
        transition: transform 0.3s ease;
    }

    .car-image:hover {
        transform: scale(1.2);
    }

    /* Benefit CSS  */
    .benefit-section {
        padding: 40px 0;
        background-color: #1C4682;
        width: 100vw;
        margin-top: -2%;
        margin-left: calc(50% - 50vw); 
    }

    .benefit-heading, .bonus-heading, .after-sales-heading {
        color: #ffffff;
        margin-bottom: 35px;
        font-size: 25px;
        font-weight: bold; 
        font-family: 'Manrope';
        text-align: left; 
    }

    .benefit-container {
        display: flex;
        justify-content: center; 
        gap: 20px;
        margin: 0 auto;
        width: 90%;
    }

    .benefit-list, .bonus-list, .after-sales-list {
        width: 30%;
        list-style-type: disc;
        background-color: transparent;
        font-size: 15px;
        line-height: 1.6;
        color: #ffffff;
        font-family: 'Manrope', sans-serif;
        text-align: left; 
    }

    .benefit-list li, .bonus-list li, .after-sales-list li {
        margin-bottom: 10px;
        text-align: left; 
        
    }

    @media (max-width: 768px) {
        .benefit-container {
            flex-direction: column;
            align-items: center;
            gap: 30px; 
        }

        .benefit-list, .bonus-list, .after-sales-list {
            width: 100%; 
        }

        .benefit-heading, .bonus-heading, .after-sales-heading {
            text-align: center;
            font-size: 20px; 
        }
    }


    /* Reason CSS */
    .reason-section {
        padding: 40px 0;
        }

    .reason-heading h2 {
            font-size: 28px;
            font-weight: bold;
            color: #000;
        }

    .reason-heading p {
            font-size: 16px;
            color: #333;
            margin-top: 2%;
            margin-bottom: 5%;
        }

    .reason-container .reason-item h3 {
        font-size: 20px;
        margin: 5%; 
        font-weight: bold;
        color: #333;
    }

    .reason-container .reason-item p {
        font-size: 15px;
        color: #666;
        margin-top: 0; 
        margin-bottom: 10%;    
    }

    @media (max-width: 768px) {
        .reason-container {
            flex-direction: column; 
            align-items: center;
            gap: 20px; 
        }

        .reason-container .reason-item {
            width: 100%; 
            text-align: center;
        }

        .reason-heading h2 {
            font-size: 24px; 
        }

        .reason-heading p {
            font-size: 14px; 
        }

        .reason-container .reason-item h3 {
            font-size: 18px; 
        }

        .reason-container .reason-item p {
            font-size: 14px; 
        }
    }

    /* Promo CSS */
    .promo-section {
        position: relative;
        padding: 40px 0;
        overflow: hidden;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        background-image: url('/images/photo_2023-06-06_20-05-30.jpg');
        background-size: cover;
        background-position: center;
        z-index: 0;
    }
    
    .promo-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(28, 70, 130, 0.9);
        z-index: 1;
    }
    
    .promo-heading h2, .promo-heading p {
        position: relative;
        z-index: 2;
        color: #ffffff;
        margin: 2%;
    }
    
    .promo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        max-width: 1200px; 
        margin: 0 auto; 
    }
    
    .promo-container .promo-item {
        border: 2px solid #ffffff;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        transition: transform 0.3s;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 300px; 
        box-sizing: border-box;
        text-align: center;
    }
    
    .promo-item h3 {
        margin-top: 10%;
        margin-bottom: 20%;
        font-weight: 900;
    }
    
    .promo-button {
        background-color: #1C4682;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .promo-button:hover {
        background-color: #163b5a;
    }
    
    .promo-icon {
        font-size: 3rem;
        color: #163b5a;
        transition: transform 0.3s, color 0.3s;
    }
    
    .promo-icon:hover {
        transform: scale(1.1);
        color: #1C4682;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .promo-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 0 20px;
        }
    
        .promo-container .promo-item {
            padding: 20px;
            text-align: center;
        }
    
        .promo-item h3 {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: 18px;
        }
    
        .promo-button {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    
    /* Mobile Layout */
    @media (max-width: 767px) {
        .promo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 0 10px;
        }
    
        .promo-container .promo-item {
            width: 100%;
            max-width: 80%; 
            padding: 15px;
            text-align: center;
        }
    
        .promo-item h3 {
            margin-top: 5%;
            margin-bottom: 10%;
            font-size: 16px;
        }
    
        .promo-button {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    
    
    /* Test Drive CSS */
    .full-bg {
        padding: 40px 0;
    }

    .content-container {
        max-width: 1200px;
        display: flex;
        gap: 20px;
    }

    .image-container {
        flex: 1;
        text-align: left;
        margin: 3%;
    }

    .text-container {
        flex: 1;
        text-align: left;
        color: #333;
    }

    .text-container h3 {
        font-size: 28px;
        font-weight: 700;
        color: #163b5a;
        margin-bottom: 5%;
    }

    .text-container p {
        font-size: 18px;
    }

    .testdrive-button {
        display: inline-flex;
        align-items: center;
        background-color: #1C4682;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 60px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 5%;
    }

    .testdrive-button i {
        font-size: 1.2rem;
        margin-right: 8px;
    }

    .testdrive-button:hover {
        background-color: #163b5a;
    }

    @media (max-width: 768px) {
    .content-container {
        flex-direction: column; 
        align-items: center;
        text-align: center; 
    }

    .image-container, .text-container {
        margin: 0; 
        width: 87%; 
    }

    .text-container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .text-container h3 {
        font-size: 24px; 
    }

    .text-container p {
        font-size: 16px; 
    }

    .testdrive-button {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        padding: 10px; 
        font-size: 14px;
        margin: 10px 0; 
        border: none;
        border-radius: 5px; 
        background-color: #1C4682; 
        color: #ffffff; 
        cursor: pointer;
        transition: background-color 0.3s; 
    }
}

    /* Price List CSS */
    .pricelist-section {
        position: relative; 
        padding: 60px 0;
        overflow: hidden;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        background-image: url('/images/photo_2023-06-06_20-02-43.jpg');
        background-size: cover;
        background-position: center;
        z-index: 0;
        margin-top: -2%;
    }

    .pricelist-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(28, 70, 130, 0.9);
        z-index: 1;
    }

    .pricelist-heading h2 {
        position: relative;
        z-index: 2;
        color: #ffffff;
        font-size: 200%;
        text-align: left;
        padding: 0% 20% 1%;
        margin-bottom: 20px;
        font-weight: bolder;
    }

    .btn-container {
        position: relative;
        text-align: left;
        padding-left: 20%;
        z-index: 2;
    }

    .btn-download {
        color: #ffffff;
        background-color: #163b5a;
        border: none;
        padding: 12px 24px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        transition: background-color 0.3s ease;
    }

    .btn-download:hover {
        background-color: #000;
        color: #ffffff
    }

    .btn-download i {
        font-size: 1.2rem;
        order: 1;
    }

    /* Footer CSS */
    .footer {
        background-color: #1C4682;
        color: white;
        padding: 40px 0;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }

    .footer h5 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: left;
    }

    .footer p, .footer ul li {
        font-size: 14px;
        line-height: 1.6;
        text-align: left;
    }

    .footer ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
    }

    .footer ul li {
        margin-bottom: 10px;
    }

    .footer ul li i {
        margin-right: 5px;
    }

    .footer .visitor-counter {
        font-size: 24px;
        font-weight: bold;
        background: black;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        display: inline-block;
    }

    .footer a {
        color: #fff;
        text-decoration: none;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    @media (min-width: 768px) {
        .footer .container .row {
            display: flex; 
            justify-content: space-between;
            flex-wrap: nowrap; 
        }
    
        .footer .col-lg-3, .footer .col-md-6 {
            flex: 1; 
            margin-right: 20px;
        }
    
        .footer .col-lg-3:last-child, .footer .col-md-6:last-child {
            margin-right: 0; 
        }
    }
    
    @media (max-width: 768px) {
        .footer .container {
            text-align: left;
        }

        .footer .row {
            text-align: left;
        }

        .footer .row > div {
            text-align: left;
            margin-bottom: 20px;
        }

        .footer ul {
            padding-left: 20px; 
        }
    }

    
    /* Bublehead */
    .bubble-head {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #1C4682;
        color: white;
        padding: 12px 20px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .bubble-head i {
        margin-right: 8px;
        font-size: 20px;
    }

    .dropup-content {
        display: none;
        position: fixed;
        bottom: 70px;
        right: 20px;
        background-color: #ffffff;
        color: #1C4682;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        padding: 10px 0;
        text-align: center;
        z-index: 1;
    }

    .dropup-content a {
        color: #1C4682;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
        font-weight: bold;
    }

    .dropup-content a:hover {
        background-color: #f1f1f1;
    }

    .dropup-content a i {
        margin-right: 5px;
    }